/* EXERCICE 1 */

#mon-titre {
  color: blue;
  text-align: center;
  font-weight: 900;
  /* EXERCICE 2 */
  margin: 0;
}

.mon-super-header {
  background-color: #7d7d7d;
  /* EXERCICE 2 */
  padding: 10px 50px 10px 50px;
}


/* EXERCICE 2 */

body {
  margin: 0;
}

.ma-belle-liste {
  list-style-type: none;
}

.list-items {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}

.liens {
  text-decoration: none;
  color: inherit;
}


/* EXERCICE 3 */

.mon-bo-btn {
  border-radius: 25em;
  background-color: rgb(159, 250, 147);
  padding: 1.5em;
}

.mon-bo-btn:hover {
  background-color: #393939;
  color: white;
  cursor: pointer;
}